


@page {
    size: A4;
    margin-left: 0.5cm;
    margin-left: 0.5cm;
    position: relative;
}
html * {
    font-family: "Almarai", sans-serif;
    color: black;
    line-height: 0rem;
    font-size: 0.75rem;
}
.container {
  position: relative;
  background-color: white;
}
.border-wraper {
  position: relative;
  padding-left: 1cm;
  padding-right: 1cm;
  border-left: 1px solid #1d4a29;
  border-bottom: 1px solid #1d4a29;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.2cm;
}

.col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header .col {
  text-align: center;
}
.title {
  font-weight: bold;
  font-size: 1rem;
  color: #1d4a29;
}

p {
  color: #619b55;
  
}
.user-card {

  background-color: #eaeaea;
  padding: 0.7cm;
  margin-bottom: 0.2cm;
  display: flex;
  align-items: center;
  border-radius: 1.3cm;
  gap: 0.5cm;
}
.item-container {
  display: flex;
  width: 75%;
  flex-direction: column;
  gap: 0;
}
.card-items {
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  
}
.middle-item {
  text-align: center;
  width: 50%;
  color: #619b55;
}
.side-item {
  width: fit-content;
  white-space: nowrap;
  color: #1d4a29;
}
.start-item {
  width: fit-content;
  white-space: nowrap;
  width: 25%;
  color: #1d4a29;
}
.end-item {
  width: fit-content;
  white-space: nowrap;
  width: 25%;
  text-align: end;
  color: #1d4a29;
}
.details {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.3cm;
}

.details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-headet-title{
  color: #1d4a29;
  font-size: 0.8rem;
  font-weight: bold;


}
.details-header-side {
  background-color: #1d4a29;
  height: 0.02cm;
  width: 100%;
}

.details-header-center {
  display: flex;
  padding-left: 0.3cm;
  padding-right: 0.3cm;
  align-items: center;
  white-space: nowrap;
  gap: 0.1cm;
  font-weight: bold;
  color: #1d4a29;
}

.details-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.1cm;
  left: 0;
  bottom: 0;
  padding: 0.3cm;
  background-color: #dde4df;
  border-top-right-radius: 1cm;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 0.2cm;
}

span {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 0.5rem;
  color: #1d4a29;
  text-align: center;
}
.logo{
    width: 2cm;
    height: 1.7cm;
}
.squar-img{
  width: 2cm;
  height: 1.7cm;
}
.details-squar{
  width: 0.8cm;
  height: 0.8cm;
}
.user-img{
  width: 25%;
  min-height: max-content;
  height: 100%;
}

.social-icons{
  width: 0.3cm;
  height: 0.3cm;
}

.arabhajj-icon{
  width: 3cm;
  height: 0.8cm;
}

.shape {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4cm;
  height: 2cm;
}